
        a {
            text-decoration: none;
            background: rgba(255, 255, 255, 1); /*js*/
            color: #222;
        }

        body, html {
            background-color: #222; /*js*/
            color: #53C98C;
            font-family: 'Josefin Sans', sans-serif;
        	font-size:2em;
        	font-weight: bold;
        	padding: 20px;
        }
        .rotater {
            position: relative;
            visibility: hidden;

            transition: all 1200ms ease 0s;
            -moz-transition: all 1200ms ease 0s;
            -webkit-transition: all 1200ms ease 0s;
            -o-transition: all 1200ms ease 0s;
            -ms-transition: all 1200ms ease 0s;

            transform: rotateY(90deg);
            -moz-transform: rotateY(90deg);
            -webkit-transform: rotateY(90deg);
            -o-transform: rotateY(90deg);
            -ms-transform: rotateY(90deg);
            left: -200px; /*js*/ /* #page width / 2 */
        }
        .comeIn {
            line-height: 1em;
        }
        .rotater.comeIn {
            visibility: visible;
            transform: rotateY(0deg);
            -moz-transform: rotateY(0deg);
            -webkit-transform: rotateY(0deg);
            -o-transform: rotateY(0deg);
            -ms-transform: rotateY(0deg);
            left: 0px!important; /*!important needed to override inline setting.*/
        }
        .lighterText, #next, a {
            /*color: rgba(255, 255, 255, 0.6);*/
        }
        #music {
            display: none;
        }

/*
 *BEGIN FOLLOWING FACE CSS {
 */
#faces {
    /*position: relative;*/
    display: inline-block;
    /*top: 50px;*/
    /*right: 50%;*/
    /*margin-right: -40px;*/
}
    #face1 img {
        width: 50px;
        height: 50px;
    }

    .face_container {
        /*position: relative;*/
        margin: 0;
        padding: 0;
        /*float: left;*/
        display: inline-block;
    }
        .face {
            position: absolute;
            overflow: auto;
            top: 6px;
        }
            .face_img {
                display: block;
            }
/*
 *END FOLLOWING FACE CSS }
 */



        #next {
            font-size: 2.5em;
            position: absolute;
            right: 0;
            top: 50%; /*js*/
            z-index: 10;
            display: none;
        }
        #next a {
            background: rgba(0,0,0,0);
            color: rgba(255,255,255,0.6);
        }
        #star {
            display: none;
        }
        #more {
            display: none;
            font-size: 0.5em;
            /*color: white;*/
        }
        #pl1-defs {
            margin-left: 40px;
        }

        .inlinecode {
            font-family: "Courier New", monospace;
            font-size: 0.8em;
            background-color: rgba(255, 255, 255, 0.2);
            padding-left: 0.3em;
            padding-right: 0.3em;
        }
        .source {
            font-size: 0.65em;
        }
