/*
 * Items marked with a "js" comment are set dynamically with javascript, and generally
 * need to be adjusted depending on device specifics like resolution, pixel ratio, aspect
 * ratio, touch abilities, etc.
 */

body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #222;
}
body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00b7ff;
}

/*default font*/
@font-face {
    font-family: 'InconsolataMedium';
    src: url('../font/inconsolata-webfont.eot');
    src: local('?'), url('../font/inconsolata-webfont.woff') format('woff'), url('../font/inconsolata-webfont.ttf') format('truetype'), url('../font/inconsolata-webfont.svgz#InconsolataMedium') format('svg'), url('../font/inconsolata-webfont.svg#InconsolataMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

#generator {
    position: absolute;
    top: 45%;
    left: 50%;
    margin-left: 0;/*js*/
    margin-top: 0;/*js*/
}

#password {
    font-size: inherit;
    /*display: inline;*/
    /*position: absolute;*/
    top: 45%;
    left: 50%;
    margin-left: 0;/*js*/
    margin-top: 0;/*js*/
    color: #8fafdb;
    text-align: center;
    font-family: InconsolataMedium;
    font-size: 18px;
}

#generate {
    position: relative;
    margin-left: 0;/*js*/
    left: 50%;
}


