
html {
  body {
    .gradient {
      background: rgba(0,0,0,0.51);
      background: -moz-linear-gradient(left, rgba(0,0,0,0.51) 0%, rgba(255,255,255,0) 100%);
      background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,0.51)), color-stop(100%, rgba(255,255,255,0)));
      background: -webkit-linear-gradient(left, rgba(0,0,0,0.51) 0%, rgba(255,255,255,0) 100%);
      background: -o-linear-gradient(left, rgba(0,0,0,0.51) 0%, rgba(255,255,255,0) 100%);
      background: -ms-linear-gradient(left, rgba(0,0,0,0.51) 0%, rgba(255,255,255,0) 100%);
      background: linear-gradient(to right, rgba(0,0,0,0.51) 0%, rgba(255,255,255,0) 100%);
      filter: unquote("progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff', GradientType=1 )");
    }
    .hidden {
      display: none;
    }
    .invisible {
      visibility: visible;
    }

    #menu {
      position: absolute;
      padding: 20px;
      /*margin-top: 50px;*/
      /*margin-left: 50px;*/
      margin: 0;
      list-style: none;
      background: rgba(0,0,0,0.8);
      display: block;
      /*border-radius: 8px;*/
      font-size: 1.3rem;
      /*text-transform: lowercase;*/

      li {
        padding-bottom: 10px;
        display: inline;
        text-shadow: 0px 4px 2px #000;
      }
      a {
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
      .sub.menuitem {
        font-size: 0.8rem;
      }
    }
  }
}
