
#scene1-container {
    width: 100%;
    height: 300px;
}

#scene1 {
    background: rgb(40,40,40)
}

#scene2 {
    background: rgba(0,0,0,0.8)
}

.border {
    border: 2px solid #90C3D4;
    width: 100%;
    height: 100%;
}
