
#scene1-container {
    width: 100%;
    height: 400px;
    border: 10px solid lightblue;
}

#scene2 {
    width: 300px;
    height: 300px;
    background: rgba(0,0,0,0.1)
}

.border {
    border: 2px solid #90C3D4;
    width: 100%;
    height: 100%;
}
