/*
 * Items marked with a "js" comment are set dynamically with javascript, and generally
 * need to be adjusted depending on device specifics like resolution, pixel ratio, aspect
 * ratio, touch abilities, etc.
 */

body, html {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #222;
}
body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00b7ff;
}

/*default font*/
@font-face {
    font-family: 'InconsolataMedium';
    src: url('/fonts/inconsolata-webfont.eot');
    src: local('?'), url('/fonts/inconsolata-webfont.woff') format('woff'), url('/fonts/inconsolata-webfont.ttf') format('truetype'), url('/fonts/inconsolata-webfont.svgz#InconsolataMedium') format('svg'), url('/fonts/inconsolata-webfont.svg#InconsolataMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

#menu {
    position: absolute;
    padding: 20px;
    margin-top: 50px;
    margin-left: 50px;
    list-style: none;
    background: rgba(0,0,0,0.8);
    display: block;
    border-radius: 8px;
    font-size: 1.3rem;
    text-transform: lowercase;
}
    #menu li {
        padding-bottom: 10px;
        display: inline;
        text-shadow: 0px 4px 2px #000;
    }
    #menu a {
        text-decoration: none;
    }
    #menu a:hover {
        text-decoration: underline;
    }
    #menu .sub.menuitem {
        font-size: 0.8em;
    }


#generator {
    position: absolute;
    top: 45%;
    left: 50%;
    margin-left: 0;/*js*/
    margin-top: 0;/*js*/
}

#password {
    font-size: inherit;
    /*display: inline;*/
    /*position: absolute;*/
    top: 45%;
    left: 50%;
    margin-left: 0;/*js*/
    margin-top: 0;/*js*/
    color: #8fafdb;
    text-align: center;
    font-family: InconsolataMedium;
    font-size: 18px;
    text-shadow: 0 6px 6px #000;
}

#generate {
    position: relative;
    margin-left: 0;/*js*/
    left: 50%;
}

#generate[disabled="disabled"], #generate[disabled="disabled"] {
    opacity: 0.1;
}

    #generate {

        -moz-box-shadow: 0px 10px 14px -7px #000;
        -webkit-box-shadow: 0px 10px 14px -7px #000;
        box-shadow: 0px 10px 14px -7px #000;

        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #72b352));
        background:-moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
        background:-webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
        background:-o-linear-gradient(top, #77b55a 5%, #72b352 100%);
        background:-ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
        background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);

        background-color:#77b55a;

        -moz-border-radius:4px;
        -webkit-border-radius:4px;
        border-radius:4px;

        border:1px solid #4b8f29;

        display:inline-block;
        color:#ffffff;
        font-family:arial;
        font-size:17px;
        font-weight:bold;
        padding:11px 27px;
        text-decoration:none;

        text-shadow:0px 1px 0px #5b8a3c;

    }
    #generate:hover {

        background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #72b352), color-stop(1, #77b55a));
        background:-moz-linear-gradient(top, #72b352 5%, #77b55a 100%);
        background:-webkit-linear-gradient(top, #72b352 5%, #77b55a 100%);
        background:-o-linear-gradient(top, #72b352 5%, #77b55a 100%);
        background:-ms-linear-gradient(top, #72b352 5%, #77b55a 100%);
        background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
        filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#77b55a',GradientType=0);

        background-color:#72b352;
    }
    #generate:active {
        position:relative;
        top:1px;
    }



