<!DOCTYPE html>
<html lang="en">
    <head>
    <!--
       - This Source Code Form is subject to the terms of the Mozilla Public
       - License, v. 2.0. If a copy of the MPL was not distributed with this
       - file, You can obtain one at http://mozilla.org/MPL/2.0/.
       -->

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%= title %></title>

        <!-- Bootstrap -->
        <!--<link href="/vendor/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" />-->
        <!--<link href="/vendor/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" />-->

        <!-- Tooltipster -->
        <!--<link href="/vendor/tooltipster/css/tooltipster.css" rel="stylesheet" />-->
        <!--<link href="/vendor/tooltipster/css/themes/tooltipster-punk.css" rel="stylesheet" />-->
        <!--<link href="/vendor/tooltipster/css/themes/tooltipster-noir.css" rel="stylesheet" />-->
        <!--<link href="/vendor/tooltipster/css/themes/tooltipster-light.css" rel="stylesheet" />-->
        <!--<link href="/vendor/tooltipster/css/themes/tooltipster-shadow.css" rel="stylesheet" />-->

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
              <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
              <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->

        <link href='https://fonts.googleapis.com/css?family=Raleway:300,400,200,100' rel='stylesheet' type='text/css'>
        <link href="/stylesheets/calendar/main.css" rel="stylesheet" />
    </head>
    <body>
        <div id="content">
            <div class="container">
                <div id="jumbotron">
                    <div class="row" id="title">
                        <div class="col-lg-1">
                        </div>
                        <div class="col-lg-10" style="text-align: center">
                            <h1>Avoid Holidays</h1>
                        </div>
                        <div class="col-lg-1">
                        </div>
                    </div>
                    <div class="row" id="callout">
                        <div class="col-lg-1">
                        </div>
                        <div class="col-lg-10" style="text-align: center">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                        </div>
                        <div class="col-lg-1">
                        </div>
                    </div>
                    <div class="row" id="select">
                        <div class="col-lg-3"></div>
                        <div class="col-lg-6" style="text-align: center">
                            <div class="input-group">
                                <input id="dateField" disabled="disabled" type="text" class="form-control" data-toggle="modal" data-target="#datePickerModal" />
                                <span class="input-group-btn">
                                    <button id="chooseDate" class="btn btn-success uppercase" title="blah" data-toggle="modal" data-target="#datePickerModal" type="button">Choose Date</button>
                                </span>
                            </div><!-- /input-group -->
                        </div>
                        <div class="col-lg-3"> </div>
                    </div>
                </div>
                <hr />
                <div class="row" id="featured">
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-lg-12">
                                <img src="/images/calendar/stars.png" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <h5 class="uppercase">Title Goes Here</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-8">
                                <hr class="dashedBorder" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-lg-12">
                                <img src="/images/calendar/infinite.png" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <h5 class="uppercase">Title Goes Here</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-8">
                                <hr class="dashedBorder" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="row">
                            <div class="col-lg-12">
                                <img src="/images/calendar/tags.png" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <h5 class="uppercase">Title Goes Here</h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-8">
                                <hr class="dashedBorder" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="datePickerModal" tabindex="-1" role="dialog" aria-labelledby="datePickerModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <button id="closeModal" type="button" class="close closeDatepicker" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

                        <h4 class="modal-title" id="datePickerModalLabel">Select Date</h4>
                        <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                        </p>

                        <div id="datePicker"></div>

                        <button type="button" class="btn btn-default closeDatepicker" data-dismiss="modal">Cancel</button>
                        <button id="saveButton" type="button" class="btn btn-success disabled" data-dismiss="modal">Save changes</button>
                        <div class="clearfix"></div>
                        <br />
                    </div>
                </div>
            </div>
        </div>

        <script src='/party/jspm/traceur.src.js'></script>
        <script src='/party/jspm/es6-module-loader.src.js'></script>
        <script src='/party/jspm/system.src.js'></script>
        <script src='jspm_config.js'></script>
        <script type="module">
            System.paths['js/*'] = 'javascripts/*/main.js';
            System.import('js/calendar').catch(scriptError => {
                if (scriptError.stack)
                    setTimeout(function() { throw scriptError; });
                else console.error(scriptError);
            }).then(module => {}, importError => {
                if (importError.stack)
                    setTimeout(function() { throw importError; });
                else console.error(importError);
            });
        </script>
    </body>
</html>
