<!DOCTYPE html>
<html lang="en">
    <head>
    <!--
       - This Source Code Form is subject to the terms of the Mozilla Public
       - License, v. 2.0. If a copy of the MPL was not distributed with this
       - file, You can obtain one at http://mozilla.org/MPL/2.0/.
       -->
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/screen.css" />
    </head>
    <body>
        <link rel='stylesheet' type='text/css' href="/party/bower/leaflet/dist/leaflet.css" />
        <style>
            /*
             * Items marked with a "js" comment are set dynamically with javascript, and generally
             * need to be adjusted depending on device specifics like resolution, pixel ratio, aspect
             * ratio, touch abilities, etc.
             */

            /* reset */
            body, html {
                padding: 0;
                margin: 0;
                height: 100%;
                width: 100%;
                position: relative;
                background-color: #f2ecdc;
            }
            body {
                font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
            }

            a {
                color: #00b7ff;
            }

            /* specific */
            .leaflet-control-zoom, .leaflet-control-attribution {
                display: none;
            }
        </style>

        <script src='/party/bower/leaflet/dist/leaflet.js'></script>

        <script src='/party/jspm/traceur.src.js'></script>
        <script src='/party/jspm/es6-module-loader.src.js'></script>
        <script src='/party/jspm/system.src.js'></script>
        <script src='jspm_config.js'></script>
        <!--<script src='home.js'></script>-->
        <script type="module">
            System.paths['js/*'] = 'javascripts/*/main.js';
            System.import('js/clobe').catch(scriptErrors => {
                if (scriptErrors.forEach) {
                    scriptErrors.forEach(function(error) {
                        console.error(error);
                    });
                }
                else if (scriptErrors.stack) {
                    console.error(scriptErrors.stack);
                }
                else {
                    console.error(scriptErrors);
                }
            }).then(module => {}, importError => {
                console.error(importError.stack);
            });
        </script>
    </body>
</html>

