<!DOCTYPE html>
<html lang="en">
    <head>
    <!--
       - This Source Code Form is subject to the terms of the Mozilla Public
       - License, v. 2.0. If a copy of the MPL was not distributed with this
       - file, You can obtain one at http://mozilla.org/MPL/2.0/.
       -->
        <title><%= title %></title>
        <!--<link rel="stylesheet" href="/stylesheets/screen.css" />-->
        <link rel='stylesheet' type='text/css' href="https://famo.us/lib/famous/famous.css" />
        <style>
            /*
             * Items marked with a "js" comment are set dynamically with javascript, and generally
             * need to be adjusted depending on device specifics like resolution, pixel ratio, aspect
             * ratio, touch abilities, etc.
             */

            /* reset */
            body, html {
                padding: 0;
                margin: 0;
                height: 100%;
                width: 100%;
                position: relative;
                background-color: #f2ecdc;
            }
            body {
                font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
                transform: translateZ(1px) rotate(45deg);
            }
            * {
                outline: 1px solid transparent;
            }
            a {
                color: #00b7ff;
            }

            /* specific */
            .leaflet-control-zoom, .leaflet-control-attribution {
                display: none;
            }
        </style>
    </head>
    <body>
        <!--Famo.us-->
        <script src='https://code.famo.us/famous/global/0.2.2/famous.js'></script>

        <!--ES6 Shim-->
        <script src="https://google.github.io/traceur-compiler/bin/traceur.js"></script>
        <script src="https://google.github.io/traceur-compiler/src/bootstrap.js"></script>

        <!-- app -->
        <script type="module">
            import {Calendar} from '/javascripts/components';

            var Engine = famous.core.Engine;
            var Modifier = famous.core.Modifier;
            var Transform = famous.core.Transform;

            function contextWithPerspective(perspective) {
                var context = Engine.createContext();
                context.setPerspective(perspective);
                return context;
            }

            var context = contextWithPerspective(1000);
            var mainMod = new Modifier({
                //size: [600, 600],
                align: [0.5,0.5],
                origin: [0.5,0.5],
                transform: Transform.translate(0,0,1)
            });

            var mainNode = context.add(mainMod);
            var calendar = new Calendar([300, 300], 'flipDiagonal');
            mainNode.add(calendar.getNode());

        </script>
    </body>
</html>

