<!DOCTYPE html>
<html lang="en">
    <head>
    <!--
       - This Source Code Form is subject to the terms of the Mozilla Public
       - License, v. 2.0. If a copy of the MPL was not distributed with this
       - file, You can obtain one at http://mozilla.org/MPL/2.0/.
       -->
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/screen.css" />
        <link rel='stylesheet' type='text/css' href="https://famo.us/lib/famous/famous.css" />
        <style>
            /*
             * Items marked with a "js" comment are set dynamically with javascript, and generally
             * need to be adjusted depending on device specifics like resolution, pixel ratio, aspect
             * ratio, touch abilities, etc.
             */

            /* reset */
            body, html {
                padding: 0;
                margin: 0;
                height: 100%;
                width: 100%;
                position: relative;
                background-color: white;
            }
            body {
                font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
                /*transform: translateZ(1px);*/ /*antialiasing in firefox*/
                overflow: hidden;
            }
            * {
                outline: 1px solid transparent;/*antialiasing in firefox*/
            }
            input {
                border: none;
            }
            a {
                color: inherit;
            }

            /* specific */
            input {
                padding: 4px;
            }
            input:active {
                outline: none;
              }
            .passwordBox input, .passwordBox button {
                margin-bottom: 5px;
            }

            .font-color-1 {
                color: #cff09e;
            }
            .font-color-2 {
                color: #A8DBA8;
            }
            .font-color-3 {
                color: #79BD9A;
            }
            .font-color-4 {
                color: #3B8686;
            }
            .font-color-5 {
                color: #0B486B;
            }

            .bg-color-1 {
                background: #cff09e;
            }
            .bg-color-2 {
                background: #A8DBA8;
            }
            .bg-color-3 {
                background: #79BD9A;
            }
            .bg-color-4 {
                background: #3B8686;
            }
            .bg-color-5 {
                background: #0B486B;
            }

            .border-color-1 {
                border-color: #cff09e;
            }
            .border-color-2 {
                border-color: #A8DBA8;
            }
            .border-color-3 {
                border-color: #79BD9A;
            }
            .border-color-4 {
                border-color: #3B8686;
            }
            .border-color-5 {
                border-color: #0B486B;
            }
            .border-color-5-dark {
                border-color: #053652
            }

            button {
                left: 2px;
                position: relative;

                background: rgba(64,153,153,1);
                background: -moz-linear-gradient(top, rgba(64,153,153,1) 0%, rgba(46,102,102,1) 100%);
                background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(64,153,153,1)), color-stop(100%, rgba(46,102,102,1)));
                background: -webkit-linear-gradient(top, rgba(64,153,153,1) 0%, rgba(46,102,102,1) 100%);
                background: -o-linear-gradient(top, rgba(64,153,153,1) 0%, rgba(46,102,102,1) 100%);
                background: -ms-linear-gradient(top, rgba(64,153,153,1) 0%, rgba(46,102,102,1) 100%);
                background: linear-gradient(to bottom, rgba(64,153,153,1) 0%, rgba(46,102,102,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#409999', endColorstr='#2e6666', GradientType=0 );

                border-top: 1px solid #419e9e;
                border-left: 1px solid #419e9e;

                border-bottom: 1px solid #244f4f;
                border-right: 1px solid #244f4f;

                border-radius: 4px;
            }
            button:active {
                background: rgba(46,102,102,1);
                background: -moz-linear-gradient(top, rgba(46,102,102,1) 0%, rgba(64,153,153,1) 100%);
                background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(46,102,102,1)), color-stop(100%, rgba(64,153,153,1)));
                background: -webkit-linear-gradient(top, rgba(46,102,102,1) 0%, rgba(64,153,153,1) 100%);
                background: -o-linear-gradient(top, rgba(46,102,102,1) 0%, rgba(64,153,153,1) 100%);
                background: -ms-linear-gradient(top, rgba(46,102,102,1) 0%, rgba(64,153,153,1) 100%);
                background: linear-gradient(to bottom, rgba(46,102,102,1) 0%, rgba(64,153,153,1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e6666', endColorstr='#409999', GradientType=0 );

                border-bottom: 1px solid #419e9e;
                border-right: 2px solid #419e9e;

                border-top: 1px solid #244f4f;
                border-left: 1px solid #244f4f;

                border-radius: 4px;
            }

            input {
                -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.37);
                -moz-box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.37);
                box-shadow: inset 0px 0px 10px 0px rgba(0,0,0,0.37);
                border: 2px solid #053652;
            }
            input:focus {
                border: 2px solid #cff09e;
            }

            input:input-placeholder {
                color: #244f4f;
            }
            input::-webkit-input-placeholder {
                color: #244f4f;
            }
            input:-moz-placeholder { /* Firefox 18- */
                color: #244f4f;
            }
            input::-moz-placeholder {  /* Firefox 19+ */
                color: #244f4f;
            }
            input:-ms-input-placeholder {
                color: #244f4f;
            }
        </style>
    </head>
    <body>
        <script src='/party/jspm/traceur.src.js'></script>
        <script src='/party/jspm/es6-module-loader.src.js'></script>
        <script src='/party/jspm/system.src.js'></script>
        <script src='jspm_config.js'></script>
        <script type="module">
            System.paths['js/*'] = 'javascripts/*/main.js';
            System.import('js/passwordReveal').then(m => {}, error => {
                console.error(error.stack);
            });
        </script>
    </body>
</html>

