<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <meta charset="utf8" />
        <link rel="stylesheet" href="/stylesheets/password/style.css" />
        <!-- TODO?: make a common header file for most pages.  -->
        <script src="/javascripts/password/jquery-1.8.3.min.js"></script>
        <script src="/javascripts/password/big.min.js"></script>
        <script src="/javascripts/password/x.js"></script>
    </head>
    <body>
        <div id="generator">
            <h1 id="password">Move your cursor to generate randomness.</h1>
            <button id="generate" disabled="disabled">generate password</button>
        </div>
    </body>
</html>
