
        a {
            text-decoration: none;
            background: rgba(255, 255, 255, 1);
            color: red; /*js*/
        }

        body, html {
            background-color: #179152; /*js*/
            color: #53C98C;
            font-family: 'Josefin Sans', sans-serif;
        	font-size:2em;
        	font-weight: bold;
        	padding: 20px;
        }
        .lighterText, #next, a {
            color: rgba(255, 255, 255, 0.6);
        }



        #more {
            font-size: 0.5em;
            color: white;
        }
        #pl1-defs {
            margin-left: 40px;
        }

        .inlinecode {
            font-family: "Courier New", monospace;
            font-size: 0.8em;
            background-color: rgba(255, 255, 255, 0.2);
            padding-left: 0.3em;
            padding-right: 0.3em;
        }
        .in {margin-left: 40px}
        .source {
            font-size: 0.65em;
        }



        input[type="text"] {
            background-color: rgba(0,0,0,0.2);
            border: 5px solid rgba(255,255,255,0.35); /*js*/
            padding: 5px;
            color: white;
        }
        #usd {
            font-size: 0.6em;
            position: relative;
            left: 10px;
        }
        #inputTip {
            padding-bottom: 0px;
            padding-top: 0px;
            margin-bottom: 0px;
            margin-top: 0px;
            margin-left: 20px;
            /*color: white;*/ /*js*/
        }
