:focus, :active {
    outline: none!important;
}
#content {
    padding: 40px;
}
#title {
    padding-bottom: 40px;
}
#title h1, #datePickerModal h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 200!important;
    font-size: 3.5em!important;
}
#callout {
    padding-bottom: 60px;
    color: #6e6e6e;
}
#select {
    padding-bottom: 40px;
}
#featured {
    padding-top: 40px;
}
#featured h5 {
    letter-spacing: 0.2em;
    font-weight: bold;
}
#featured p {
    color: #6e6e6e;
}
#featured hr {
    margin-top: 5px;
    border-color: #dadada;
    border-top-width: 1px;
    border-bottom-width: 1px;
}
#select input, button {
    height: 48px;
}
#select button {
    padding-left: 40px;
    padding-right: 40px;
}
.container {
}
.dashedBorder {
    border-style: dashed;
}
.uppercase {
    text-transform: uppercase;
}
.modal-body {
    text-align: center;
}
#closeModal {
    position: relative;
    top: -20px;
}
#saveButton {
    margin-left: 10px;
}
.datepicker-inline {
    margin: auto;
    width: auto;
}
.datepicker-switch {
    font-family: 'Raleway', sans-serif;
    font-weight: 200!important;
    font-size: 1.6em;
}
.datepicker .prev, .datepicker .next {
    vertical-align: center;
}
.datepicker .prev:hover, .datepicker .next:hover {
    background: none!important;
}
.datepicker .prev div, .datepicker .next div {
    font-size: 1.4em;
    font-family: 'Raleway', sans-serif;
    line-height: 40px;
    color: white;
    text-align: center;
    width; 40px;
    height: 40px;
    border-radius: 50%;
    background: #4EA54E; /*green*/
}
.datepicker table {
    width: 350px;
    margin: auto;
}
.datepicker .day {
    text-align: right;
    vertical-align: bottom;
    width: 50px;
    height: 50px;
    border: 1px solid gray;
    border-radius: 0;
    background: #eee!important;
}
.datepicker .old.day, .datepicker .new.day {
    background: white!important;
}
.datepicker .active {
    background: #4EA54E!important; /*green*/
}
.datepicker .bank-holiday:not(.old):not(.new) {
    background: #CF3E3A!important; /*red*/
    color: white!important;
}
.datepicker .month, .datepicker .year {
    /*width: 50px;*/
    height: 50px;
    border: 1px solid gray;
    border-radius: 0;
}
#datePicker {
    margin-bottom: 20px;
}
